/* 
Colors
*/

:root {
  --color-black: #000000;
  --color-yellow: #ffc800;
  --color-white: #ffffff;
  --color-blue: #4545ff;
  --color-almost-white: #f8f8f8;
  --color-almost-gray: #CDCDCD;
  --size-navbar: calc(15%);
  --size-main: calc(85%);
  --size-product: calc(85%/4 - 5px*4);
}

a {
    text-decoration: none;
}

.anonymousImage {
    margin-top: -4px !important;
    border: var(--color-almost-gray) solid 4px;
    float:left;
    margin-left:-4px;
}

body {
    /* background-color: #f5f5f5; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #333333;
    margin: 0;
    padding: 0;
    /* overflow-x:hidden; */
    overflow-y: visible;
    display: block;
    box-sizing: border-box;
}

.buyButton {
    background-color: var(--color-blue);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: gray 0px 2px 1px;
}

img {
    max-width: 95%;
    max-height: 95%;
    margin: calc(5%/2);
}

.inner {
    width: calc(100% - 10px);
    height: calc((100% - 20px)/2);
    float: left;
}

.inner img {
    width: 95%;
    height: 95%;
    object-fit: contain;
    float: left;
}

.innerLower {
    margin: 5px;
    width: calc(100% - 10px);
    height: calc((100% - 50px)/2);
    float: left;
}

.main h1 {
    margin: 0;
    padding: 5px;
}

.main p {
    padding: 15px;
    text-align: justify;
}

.mainbody {
    padding-left:10px;
    height:100vh;
    overflow:scroll;
}

.mainLeft {
    background-color: var(--color-white);
    width: 50%;
    height: 100vh;
    float: left;
}

.mainRight {
    background-color: var(--color-white);
    width: 50%;
    height: 100vh;
    float: left;
}

.navbar {
    background-color: var(--color-yellow);
    width: calc(15% - 2px);
    height: 100vh;
    float: left;
    border-right: black solid 2px;
}

.navbar .logo {
    width: calc(100%-20px);
    height: fit-content;
    padding-bottom: 10px;
}

.navbar .navigation {
    border-top: black solid 2px;
    width: 100%;
}

.navbar .navigation a {
    display: block;
    border-bottom: rgb(73, 73, 73) solid 2px;
    width: calc(100% - 20px);
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 10px;
}

.product {
    background-color: var(--color-white);
    width: var(--size-product);
    margin: 5px;
    float: left;
    border: var(--color-black) solid 2px;
    font-size: 5 !important;
    border-radius: 5px;
    box-shadow: gray 0px 2px 1px;
    text-align: center;
}

.product-image img {
    width: var(--size-product);
    /* height: 90%; */
}

.review {
    overflow-y: scroll;
    max-height: calc(100% - 10px);
    max-width: calc(100% - 50px);
    border: black solid 2px;
    padding: 4px;
    background-color: var(--color-yellow);
    display: block;
}

.reviewBox {
    width: calc(100% - 10px);
    height: calc((100% - 20px)/2);
    float: left;
    margin-bottom: 10px;
    border: #CDCDCD solid 4px;
    background-color: var(--color-almost-white);
    display: block;
}

.reviewBox div h3 {
    margin: 0;
}

.reviewBox div h4 {
    margin: 0;
}

.reviewImage {
    min-width: 30px;
    margin-top: -4px !important;
    border: var(--color-almost-gray) solid 4px;
    float: right;
    margin-right: -4px;
}

.reviewText {
    margin: 10px;
    width: 95%;
    float: left;
}

#name {
    color:var(--color-blue);
}

#price {
    color: var(--color-yellow);
}

#discount_price {
    color: var(--color-yellow);
}

#question {
    margin-top: 0;
}

::-webkit-scrollbar {
    display: none;
}