p.info {
    font-size: small;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

p.nonInfo {
    font-size: large;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: large;
    border: 1px solid #ccc;
    text-decoration: double underline;
    padding: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: large;
    border: 1px solid #ccc;
    text-decoration: wavy underline;
    padding: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: large;
    border: 1px solid #ccc;
    text-decoration: overline;
    padding: 10px;
    margin-bottom: 10px;
}

h4 {
    font-size: large;
    border: 1px solid #ccc;
    text-decoration: underline;
    padding: 10px;
    margin-bottom: 10px;
}

h5 {
    font-size: large;
    border: 1px solid #ccc;
    text-decoration: line-through;
    padding: 10px;
    margin-bottom: 10px;
}

h6 {
    font-size: large;
    border: 1px solid #ccc;
    text-decoration: dashed underline;
    padding: 10px;
    margin-bottom: 10px;
}

.navbar {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    inline-size: unset;
    background-color: rgb(107, 107, 107);
}

.dropdown {
    padding: 10px;
    border-right: 1px solid #ccc;
    inline-size: min-content;
    display: inline-block;
    position: relative;
    background-color: rgb(107, 107, 107);
}

.dropdown :hover {
    background-color: rgb(135, 135, 135);
}

.dropdown-content {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    position: absolute;
    background-color: #f1f1f1 !important;
    z-index: 1;
}

.dropdown-content a {
    opacity: 0.5;
    background-color: #f1f1f1 !important;
    color: black;
}

.dropdown-content a:hover {
    opacity: 1;
}

.dropdown:hover .dropdown-content {
    display: block !important;
}

.active {
    color: darkgray !important;
}

table {
    border-collapse: collapse;
    width: 500px;
}

tr {
    border: 1px solid #ccc;
}

th {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}